[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "*"
rope = "*"

[packages]
aiogram = "*"
uvloop = {version = "*",sys_platform = "!= 'win32'"}
ujson = "*"
aiohttp = "*"

[requires]
python_version = "3.7"

[scripts]
main = "./tell_me_where_to_go.py"
